# Exclude virtual environment
venv/
__pycache__/
*.pyc

# Exclude local environment files
.env

# Exclude Git, logs, and temporary files
.git
.gitignore
*.log
*.csv
*.h5
*.pkl
*.tar.gz
*.zip

# Exclude large datasets or artifacts
data/
models/
